*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;

}

header{
    background-color: black;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.Navbar{
    min-height:20%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 0 24px;
}
.navitem{
    width: 0px;
}
.title{
    /* Chase the new Flavour */

width: 231px;
height: 30px;

/* H5 23px Cormorant Upright */
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 130%;
/* identical to box height, or 30px */
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;

/* FFFFFF */
color: #FFFFFF;

}

.heading1{
    /* The key to Fine dining */

width: 453px;
height: 234px;

/* H1 90px Cormorant Upright Semi */
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 130%;
/* or 117px */
letter-spacing: 0.04em;
text-transform: capitalize;

/* DCCA87 */
color: #DCCA87;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

}
.Navbar {
    z-index: 9999;
}


.heading2{
/* What we believe in */

width: 523px;
height: 83px;

/* H2 64px Cormorant Upright */
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 130%;
/* or 83px */
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;

/* DCCA87 */
color: #DCCA87;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


}

.para{
    /* Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus */

width: 453px;
height: 84px;

/* Body 16px Regular */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
/* or 28px */
letter-spacing: 0.04em;

/* AAAAAA */
color: #AAAAAA;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.navMenu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
}
.navBrand{
    width: 199px;
    height: 57px;
    left: 0px;
    top: 0px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none;
color: #FFFFFF;
}
.navlink{

    transition: 0.7s ease-out;
    color: white;
    text-decoration: none;
}
.navlink:hover{
    color: aqua;
}

.Hamburger{
    display: none;

}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:white;
}
.background{
    width: 100%;
    height: 100%;
    background-image:url(./images/knive.png),url('images/G.png'), url('images/malik.png') ;
    background-size: cover,cover,cover;
    background-position: center,center,50%;
    background-size: 90px 600px, 300px 350px,3000px,100%;
    background-repeat: no-repeat,no-repeat,repeat;
}
.Gericht{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 43px;
    height: 32px;
    justify-content:space-evenly;
    padding: 0% 3rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    padding-bottom: 90px;
    padding-left: 40px;
/* identical to box height, or 32px */
letter-spacing: 0.04em;

color: #FFFFFF;

transform: rotate(-90deg);

/* Inside auto layout */

flex: none;

flex-grow: 0;
}
.button{
    /* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 32px;

width: 157px;
height: 44px;

/* DCCA87 */
background: #DCCA87;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Explore Menu */

width: 100px;
height: 40px;

/* Button */
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 175%;
/* identical to box height, or 28px */
letter-spacing: 0.04em;

color: #0C0B08;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.box {
    background-image: linear-gradient(#DCCA87,#DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      url("khloe.png");
    background-repeat: no-repeat;
    background-size: 10px 50%, 50% 10px, 10px 50%, 50% 10px, calc(100% - 2px) calc(100% - 5px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
    
    height: 540px;
    width: 500px;
    margin: 40px;
  }
  .box2 {
    background-image: linear-gradient(#DCCA87,#DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      url("images/chef.png");
    background-repeat: no-repeat;
    background-size: 10px 50%, 50% 10px, 10px 50%, 50% 10px, calc(100% - 2px) calc(100% - 5px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
    
    height: 540px;
    width: 500px;
    margin: 40px;
  }
  .boxm{
    background-image: linear-gradient(#DCCA87,#DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      url("images/Mask.png");
    background-repeat: no-repeat;
    background-size: 10px 50%, 50% 10px, 10px 50%, 50% 10px, calc(100% - 2px) calc(100% - 5px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
    
    height: 540px;
    width: 500px;
    margin: 40px;
  }

  .boxg{
    background-image: linear-gradient(#DCCA87,#DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      url("images/glass.png");
    background-repeat: no-repeat;
    background-size: 10px 50%, 50% 10px, 10px 50%, 50% 10px, calc(100% - 2px) calc(100% - 5px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
    
    height: 540px;
    width: 500px;
    margin: 40px;
  }

  .coll{
    display: flex;
    flex-direction: column;

}
.head{
    /* Bib Gourmond */

width: 143px;
height: 30px;

/* H5 23px Cormorant Upright */
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
/* identical to box height, or 30px */
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;

/* DCCA87 */
color: #DCCA87;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.bod{
    /* Lorem ipsum dolor sit amet, consectetur. */

width: 190px;
height: 56px;
padding-top: 40px;

/* Body 16px Regular */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
/* or 28px */
letter-spacing: 0.04em;

/* AAAAAA */
color: #AAAAAA;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.img{
    height: 60px;
    width: 60px;
}

.contentf{
    background-color: black;
    height: 300px;
    width: 70%;
    margin-left: 50px;
    justify-content: center;

}
.sub{
    margin-top: 50px;
    margin-left: 300px;
    max-width: 100px;
}
.news{
    /* Newsletter */

width: 104px;
height: 30px;

/* H5 23px Cormorant Upright */
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
/* identical to box height, or 30px */
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;

/* FFFFFF */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.subscribe{
    /* Subscribe to Our Newsletter */

width: 776px;
height: 83px;

/* H2 64px Cormorant Upright */
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
/* or 83px */
text-align: center;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;

/* DCCA87 */
color: #DCCA87;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

}
.miss{
    /* And never miss latest Updates! */

width: 250px;
height: 28px;

/* Body 16px Regular */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
/* identical to box height, or 28px */
text-align: center;
letter-spacing: 0.04em;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.search{
/* Rectangle 22 */

box-sizing: border-box;
width: 635px;
height: 60px;
left: 0px;
top: 0px;

/* F5EFDB */
border: 1px solid #F5EFDB;



}

.area{
    background: black;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {


    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media(max-width: 786px){
    .Hamburger{
        display:block; 
    
    }
    
    .heading1{
        width: 100%;
        font-size: 40px;

        
    }

    .button{
        margin-top: 130px;
    }

    .heading2{
        width: 100%;
        height: 100%;
        padding-top: 150px;
        font-size: 35px;
        
    }

    .navBrand{
        /* GeriÃÅcht */


    }
    .Hamburger.active .bar :nth-child(2){
        opacity: 0px;
    }
    .Hamburger.active .bar :nth-child(1){
        transform: translateY(8px) rotateX(45deg);
    }
    .Hamburger.active .bar :nth-child(3){
        transform: translateY(-8px) rotateX(-45deg);
    }
    .navMenu{
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black,0.3 ;
        width: 100%;
        text-align: center;
        transition: 0.4s;
    }
    .navitem{
        margin: 16px 0;

    }
    .navMenu.active{
        left: 0;
    }
    .subscribe{
        /* Subscribe to Our Newsletter */
    
    width: 100%;
    height: 80px;
    
    /* H2 64px Cormorant Upright */
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 6px;
    line-height: 130%;
    /* or 83px */
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    
    /* DCCA87 */
    color: #DCCA87;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    
    }

    .background{
        width: 100%;
        height: 100%;
        background-size: 90px 600px, 300px 350px,3000px,100%;
    }
    .contentf{
        background-color: black;
        height: 300px;
        width: 95%;
        margin-left: 2px;

    }
    .search{
        /* Rectangle 22 */
        
        box-sizing: border-box;
        width: 295px;
        height: 60px;
        left: 0px;
        top: 0px;
        
        /* F5EFDB */
        border: 1px solid #F5EFDB;

    }

    .para{
        /* Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus */
    
    width: 100%;
    height: 84px;
    padding: 10px 10px;
    
    /* Body 16px Regular */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    /* or 28px */
    letter-spacing: 0.04em;
    
    /* AAAAAA */
    color: #AAAAAA;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
    }
.box{

    width: 95%;
}
.box2{
    width: 95%;
}
.boxm{
    width: 95%;
}
.boxg{
    width: 95%;
}
}